cache/
artifacts/

coverage/
coverage.json
typechain/
contracts_depreciated/

.vscode/*
!.vscode/settings.json.default
!.vscode/launch.json.default
!.vscode/extensions.json.default

node_modules/
.env

.yalc
yalc.lock

contractsInfo.json
deployments/hardhat
deployments/localhost

_toDo/
notes.md

depreciated/
contracts/depreciated/
contracts/external/

docgen/
*.png

workspace.code-workspace
test-old
